body{
    margin: 0;
    background: linear-gradient(to left bottom, lightblue, white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    font-family: monospace;
}

.container{
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    text-align: center;
    width: 85%;
    max-width: 400px;
    font-size: 20px;
    border-radius: 15px;
}

.heading{
    font-size: 30px;
    margin: 5px;
}
.rating-container{
    display: flex;
    padding: 20px 0px;
}
.rating{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}
.rating img{
    width: 40px;
}
.rating:hover,
.rating.active{
    background: darkseagreen;
    color: white;
    transition: all 300ms ease;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.btn{
    background: darkcyan;
    color: antiquewhite;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    border:0;
    
}
.btn:hover{
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}
.btn:active{
    transform: scale(0.96);
}